<div class="container">
    <div class="d-flex about">
        <%= image_tag asset_path('beacon'), class: "my-3"  %>
        <div class="m-2 p-2">
            <h2>A NEW WINCHELSEA RESIDENTS’ ASSOCIATION</h2>
            <p>The Residents’ Association (RA) is a group of people who live in Winchelsea and 
            have decided to form an association to promote the interests and concerns that affect 
            their local community.  The Association is able to campaign to secure the improvements 
            of services and amenities and provide a greater voice than residents would have as individuals.
            It will seek to promote a better sense of community in the area and help keep residents informed
            of what is happening in their neighbourhood. </p>
        </div>
    </div>

    <h3 class="justify-content-center">Committee Members</h3>

    <h4>Jane Taylor (co-chair)</h4>
    <p>I have a financial background and a senior professional career in UK banking, social housing investment, 
    front line public services and business consultancy. I work with local authorities, national regulators, 
    government departments and their agencies to support better financial management, good governance and management
     of business risk. I also sit on recruitment panels for Executive and Board members in the public sector.</p>

    <h4>Paul Veys (co-chair and membership)</h4>
    <p>I have lived in Winchelsea since 1998. Recently retired from NHS after 30 years as Director of Blood and Marrow 
    Transplantation at Great Ormond Street Hospital (GOSH). Professor of Allogeneic Cell Therapy at University College
     London with 300 publications and £10 million grant income. Previously Chair of the General Medical Staff Committee 
     at GOSH (300 consultants) and of multiple national and international working groups. </p>

    <h4>John Clarke (vice-chair)</h4>
    <p>After ten years in Shell-Mex and BP, latterly in the negotiating team, I joined the Civil Service College. My 
    initial role was as a trainer of Administrative Trainees, the elite graduate entrants. I progressed to work as a 
    consultant across Departments and to be part of the Top Management Programme. In 1986 I left, set up my own consultancy 
    working in both public and private sectors and ran it for 25 years.</p>
</div>