<div class="container">
    <div class="about">
        <div class="d-flex flex-column">
            <%= image_tag asset_path('beacon'), class: "my-3"  %>
            <p><em>Old Windmill Beacon © Nick Chillingworth</em></p>
        </div>
        <div class="m-2 p-2">
            <h2>A new Winchelsea Residents’ Association</h2>
            <p>The Residents’ Association (RA) is a group of people who live in Winchelsea and 
            have decided to form an association to promote the interests and concerns that affect 
            their local community.  The Association is able to campaign to secure the improvements 
            of services and amenities and provide a greater voice than residents would have as individuals.
            It will seek to promote a better sense of community in the area and help keep residents informed
            of what is happening in their neighbourhood. </p>
        </div>
    </div>

    <h2 class="text-center">Committee Members</h2>

    <h4><strong>Jane Taylor</strong><em> (co-chair)</em></h4>
    <p class="m-3">I have a financial background and a senior professional career in UK banking, social housing investment, 
    front line public services and business consultancy. I work with local authorities, national regulators, 
    government departments and their agencies to support better financial management, good governance and management
     of business risk. I also sit on recruitment panels for Executive and Board members in the public sector.</p>

    <h4><strong>Paul Veys</strong><em> (co-chair and membership)</em></h4>
    <p class="m-3">I have lived in Winchelsea since 1998. Recently retired from NHS after 30 years as Director of Blood and Marrow 
    Transplantation at Great Ormond Street Hospital (GOSH). Professor of Allogeneic Cell Therapy at University College
     London with 300 publications and £10 million grant income. Previously Chair of the General Medical Staff Committee 
     at GOSH (300 consultants) and of multiple national and international working groups. </p>

    <h4><strong>John Clarke</strong><em> (vice-chair)</em></h4>
    <p class="m-3">After ten years in Shell-Mex and BP, latterly in the negotiating team, I joined the Civil Service College. My 
    initial role was as a trainer of Administrative Trainees, the elite graduate entrants. I progressed to work as a 
    consultant across Departments and to be part of the Top Management Programme. In 1986 I left, set up my own consultancy 
    working in both public and private sectors and ran it for 25 years.</p>

    <h4><strong>Brian Leonard</strong><em> (secretary)</em></h4>
    <p class="m-3">A career mostly in the senior civil service in Whitehall and the government regions working mainly on social and economic 
    policy; and I have also been the Chief Executive of a UK association of local leisure, cultural and sport trusts and served on several 
    boards and committees, as both member and chairman. I have lived in Winchelsea since early 2019, first in North Street and currently in Castle Street</p>
    </p>

    <h4><strong>Linda Bass</strong><em> (treasurer)</em></h4>
    <p class="m-3">I moved to Castle Cottage, Winchelsea, just over a year ago.
    I have a legal background and became passionate about the danger of traffic when working for The Crown Prosecution Service, where I prosecuted traffic cases.
    Though I have no accountancy training, I was treasurer of St Thomas a Becket Church in Brightling for a number of years and am happy to take on the 
    role of Treasurer of WRA.</p>

    <h4><strong>Ali Casey</strong><em> (membership)</em></h4>
    <p class="m-3">I moved into Winchelsea as a full-time resident in July 2020 with my partner Chris Chappell. Currently working in a senior management role in London Bridge 
    at Kantar, the world’s largest market research firm. I will be retiring shortly and I am an experienced marketeer, communications expert, project manager and 
    manager of multi-million pound budgets.</p>

    <h4><strong>Richard Plumb</strong></h4>
    <p class="m-3">A career spanning 40 years in Theatre and television production as Production Designer. Subsequently involved in local politics and community groups. 
    Instrumental in the setting up and running of a Residents Association in North London. Now resident in Winchelsea, involved in variety of town committees 
    and a founding member of the Winchelsea Residents Association.</p>

    <h4><strong>Laurence Rutman</strong></h4>
    <p class="m-3">Retired partner at City of London solicitors. Head of real estate advising public authorities, utilities and public companies on infrastructure , transport 
    and development projects. Chairman Hever parish council in Kent , a council responsible for 3 separate communities. Director /Trustee for many years of St Brides 
    Foundation a charitable foundation located off Fleet Street with a theatre, print library and community space.</p>

    <h4><strong>Catherine Owens</strong></h4>
    <p class="m-3">I have recently retired following 37 years working in the NHS. I spent 30 years as a consultant radiologist at Great Ormond Street Hospital London, where I 
    held senior management posts, alongside busy clinical commitments. In addition, I held several international leadership roles, including Treasurer then Secretary 
    and subsequently President of our European Society of Paediatric Radiology. I have written over 200 academic publications, many book chapters and delivered 300 
    lectures. I spent 2 years on sabbatical in Qatar helping to set up a large childrens’ hospital.I have lived in Winchelsea since 1998 </p>

    <h4><strong>Sarah Andrews</strong></h4>
    <p class="m-3">I have been a part-time resident of Winchelsea for eight years and am currently a Town and District Councillor in Sevenoaks.  I enjoyed a 10 year career in
     Marketing at the London Stock Exchange. I am keen to help improve and evolve Winchelsea, whilst retaining the aesthetic appeal and community for which the town is renowned.</p>

    <br>

    <h2 class="text-center">Constitution</h2>
    <h4>1. NAME AND STATUS</h4>
    <ul>
        <li>1.1. The name of the Association will be the Winchelsea Residents Association (here called the Association or WRA)</li>
        <li>1.2. The legal status is of an unincorporated non-profit making organisation where the Committee are responsible for any contracts entered into</li>
    </ul>

    <h4>2. OBJECTIVES </h4>
    <ul>
        <li> 2.1 To collect, disseminate and consider information on matters of public interest in and around Winchelsea</li>
        <li> 2.2 To represent the interests and views of members of the Association to the Parish, district and county councils, and to other relevant authorities or institutions. </li>
        <li> 2.3 To seek to improve the conditions, services and amenities for residents of Winchelsea, as a distinctive place to live and work. </li>
        <li> 2.4 To encourage good neighbourliness and community enjoyment for the benefit of all residents</li>
        <li> 2.5 To work cooperatively and collaboratively with all the existing organisations in Winchelsea including Winchelsea Corporation and with the Parish Council </li>
        <li> 2.6  The Association shall be independent of all political affiliations. </li>
    </ul>

    <h4>3. Powers</h4>
    <ul>
        <li>3.1. To further these aims and objectives the Committee shall have the powers to:</li>
        <ul>
            <li>Obtain, collect and receive money or funds by way of subscriptions, donations or grants and any other lawful method for use towards meeting the Objects of the Association</li>
            <li>Enter into contractual arrangements and insurances</li>
            <li>Have its own bank account</li>
            <li>Do all such lawful things as will further the aims of the WRA</li>
        </ul>
    </ul>

    <h4>4. MEMBERSHIP</h4>
    <ul>
        <li>4.1. Membership shall be open to all residents, over the age of eighteen, in the Town of Winchelsea. </li>
        <li>4.2. All members will have an equal vote</li>
        <li>4.3. Each member shall pay an annual subscription</li>
        <li>4.4 Initially the annual subscription shall be set at £5. The annual subscription shall be determined by a simple majority of members at an Annual General Meeting (AGM), such subscription to be due and payable initially in November 2021 and subsequently in June of each year of membership. Failure to pay a subscription within two months of the due date shall result in that individual ceasing to be a Member</li>
        <li>4.5. All members should actively seek to represent the various needs of the area and must not discriminate on the grounds of nationality, political opinion, race, religious opinion, gender, age, sexuality or disability. </li>
        <li>4.6. Members shall at all times conduct themselves in a reasonable manner when attending meetings or any functions linked to the WRA.</li>
        <li>4.7. The Committee shall have the right to suspend or terminate membership where it is considered such membership could bring into disrepute the name of the Association; or if they publicly misrepresent or act against the stated aims of the Association</li>
    </ul>

    <h4>5. ORGANISATION AND COMMITTEE</h4>
    <ul>
        <li>5.1. The management of the Association shall be vested in the Committee which shall be elected at the AGM to carry out the business and policies of the Association on behalf of the members. The Committee will consult members on major and significant issues and, wherever the necessary timetable allows, will aim to bring decisions about these for consideration at General Meetings. The primary means of communication with members will be by email.</li>
        <li>5.2. The Committee shall be made up of a minimum of 7 and a maximum of 15 members including 4 officers - Chairman, Vice-Chair, Secretary, Treasurer. The Association may appoint other officers or Honorary Officers and may co-opt additional members, as it may determine from time to time</li>
        <li>5.3. The 4 Officers shall be appointed by the Committee. The Committee shall have the power to co-opt additional members and to appoint other officers and Honorary Officers as it may determine. All Committee members shall retire at each AGM and may stand for re-election.</li>
        <li>5.4. The Committee quorum shall be 5</li>
        <li>5.5. Committee members shall not be paid</li>
        <li>5.6. The Committee shall meet regularly, as it deems necessary, and minutes of the meetings shall be available to all members</li>
        <li>5.7. The Committee shall have the power to appoint sub-committees as required. </li>
        <li>5.8. All Committee members shall be provided with a copy of the Constitution when elected or co-opted </li>
    </ul>
        <h4>6. FINANCE </h4>
    <ul>
        <li>6.1. The Association shall be able to raise money and accept grants, gifts and subscriptions on such terms as may be deemed appropriate. </li>
        <li>6.2. All monies received by or on behalf of the Association will be paid forthwith into the Association’s bank account and applied to further the Objects of the Association. </li>
        <li>6.3. The Treasurer will keep proper records and accounts of the Association and will operate a bank account in the name of the Association. The Treasurer shall have the accounts checked by an independent person with adequate financial experience at the end of each financial year and submitted to the Committee for auditing each year</li>
        <li>6.4. The bank account will have as signatories the Treasurer and Chair whose authority to sign shall automatically lapse when they cease to hold office. Online payments from the account must be made only by the registered online signatories. Signatories must not live in the same household or be close to family members. </li>
        <li>6.5. All expenditure or incurring of financial liabilities in excess of £50 must be referred to Committee for approval before payment is incurred or made. </li>
        <li>6.6. No persons representing the WRA shall make or enter into any agreement with any organisation that will or may incur a financial liability, save for those purposes as previously agreed by the Committee as necessary to carry out the objectives of the Association</li>
        <li>6.7. The terms of any such agreement as specified under 6.6 shall be approved by the Committee, prior to signature or commitment.  </li>
        <li>6.8. The Treasurer shall keep receipts for all money paid out in expenses to Members of the Committee for duties carried out on behalf of the Association. </li>
        <li>6.9. The Treasurer will be responsible for the preparation of the annual accounts of the Association which shall be presented at the Annual General Meeting. </li>
        <li>6.10 The financial year of the Association will end on 30th March each year. </li>
    </ul>

        <h4>7. MEETINGS</h4>
    <ul>
        <li>7.1. The Association’s Annual General Meeting shall be held at not more than fifteen months intervals The purpose of these meetings shall be to (a) Approve the minutes of the previous year’s AGM (b) Receive reports from the Committee (c) Receive a report from the Treasurer and approve the annual accounts (d) Elect the Committee (e) Consider changes to the Constitution (f) Deal with relevant business </li>
        <li>7.2. The Committee shall call Members’ General Meetings as required and normally at calling a least 2 General Meetings, including the AGM, every 12 months</li>
        <li>7.3. A Special General Meeting open to all members will be held if 12 or more members request for such a meeting with the Secretary. The Secretary shall arrange for this meeting to take place within 21 days. </li>
        <li>7.4. The Secretary will publicise all general meetings at least 5 days in advance. </li>
        <li>7.5 The quorum for all general meetings shall be one-third of the membership.</li>
        <li>7.6. At all meetings a decision will be carried by a simple majority vote </li>
        <li>7.7. Each Member shall have one vote, which may be given in person or by proxy appointed in writing. </li>
        <li>7.8 The Chairman, in addition to his/her own vote, shall have a casting vote in cases of equality of voting by all members. </li>
        <li>7.9 The AGMs and Member’s General Meetings shall all be minuted and shall be published on the website and available on request. </li>
    </ul>

        <h4>8. OTHER RULES</h4>
    <ul>
        <li>8.1. The Constitution may be altered only at an AGM or at a Special General Meeting called for that purpose </li>
        <li>8.2. Proposed changes to the Constitution must be delivered to the Secretary at least 14 days before the AGM or Special (Extraordinary) Meeting</li>
        <li>8.3. Changes to the Constitution must be agreed upon by two-thirds of the members present at the meeting</li>
        <li>8.4 The priorities of the Association will be established after consultation with the Members and be reviewed at least annually at the AGM</li>
        <li>8.5 All General Meetings shall be chaired by the Chairman or, in his absence, by the Deputy Chairman. Should neither the Chairman nor the Deputy Chairman be present, the other members of the Committee may elect one of the Committee members to take the Chair.</li>
        <li>8.6 Any member may make a proposal for consideration by the Committee by submitting the proposal to the Secretary at least 14 days before the next Committee Meeting</li>
        <li>8.7. Any member may make a proposal at a general meeting for consideration by the Committee and by members generally as the Chairman will determine, but in order for it to be voted on by other members, it must be seconded or supported by at least one other member. Before voting any member may propose an amendment to the proposal which must also be voted on.  </li>
        <li>8.8. Any communication representing the views of the Association must be agreed upon by at least a quorum of the Committee </li>
    </ul>

        <h4>9. DISSOLUTION OF THE ASSOCIATION </h4>
    <ul>
        <li>9.1 Should the Committee decide to dissolve the Association it will invite all Members to a Special (Extraordinary) General Meeting called for that purpose which shall be advertised with at least fourteen days notice. </li>
        <li>9.2. The Committee will then make all reasonable attempts to pay outstanding accounts, return any grants or gifts, after which any surplus funds in the account of the Association will be distributed to a recognised group or group with similar aims to WRA or to a charitable body, as the Committee will decide.  </li>
    </ul>

</div>