<div class="container">
    <h2 class="my-2">To become a WRA member:</h2>
    <p>Please email <strong>info@winchelseaRA.com</strong></p>
    <p>Please add info@winchelseaRA.com to your contacts list to avoid WRA emails disappearing into your junk folder.</p>

    <h3 class="my-2">To contact WRA:</h3>
    <p>Please email <strong>info@winchelseaRA.com</strong></p>

    <h3 class="my-2">Membership subscriptions:</h3>
    <p>Please email <strong>info@winchelseaRA.com</strong></p>
    <p>You can pay by BACS / Nat West Business Act no - 59667362 / sort code - 60-02-07/ Name - Winchelsea Residents Association.
    (£5 per member). Please include your name in the reference. Or by cash, using the drop box in the Winchelsea Farm Shop, filling in the form with your £5 subscription to insure you 
    are registered.</p>
</div>

