.navbar {
  justify-content: space-between;
  background: #243551;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 300px;
  min-width: 200px;
}

.dropdown *{
  margin: 0;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.custom-toggler.navbar-toggler {
  border-color: white;
  width: 40px;
  padding: 5px;
} 

.navbar-brand {
  background-image: url(asset_path("winchelsea_logo.png"));
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px
}

@media only screen and (min-width: 1000px) {
  .navbar-brand {
    background-image: url(asset_path("winchelsea_logo_text.png"));
    background-size: contain;
    height: 40px;
    width: 400px;
  }
}
