<div class="container">
    <div class="p-3 mb-2 text-white">
        You may only vote on a post once
    </div>
    <p><%= link_to 'Back to Last Post', post_path(@post), class: "btn btn-primary my-1" %></p>
    <p><%= link_to 'All Posts', posts_path, class: "btn btn-secondary my-1" %></p>

</div>